.slide.ng-hide-add,
.slide.ng-hide-remove {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block!important;
}
.slide.ng-hide-add.ng-hide-add-active,
.slide.ng-hide-remove {
  opacity: 0;
}
.slide.ng-hide-add,
.slide.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

* {
  font-family: 'Open Sans', sans-serif;
}
.center-grey {
  background: #f2f2f2;
}

.page {
  &-nav{
	margin: 10px;
  }
  &-add {
    margin-bottom: 20px;
  }
  .panel-body {
    .glyphicon {
      padding-left: 4px;
      font-size: 11px;
    }
  }
  table{
    td{
      display: inline-block;
      overflow: hidden;
    }
  }
  .arrows {
    margin-top: 10px;
  }
  .modal-content{
    overflow: hidden;
    padding-bottom: 20px;
  }
}


.rating{
    position: absolute;
    margin: 0;
    padding: 0;
    display: inline-block;
    li {
      padding: 1px;
      color: #a9a9a9;
      text-align: center;
      font-weight: bold;
      font-size: 20px;
      list-style-type: none;
      display: inline-block;
      cursor: pointer;
      &.filled {
        color: #fd0; //#21568b
      }
    }
  }



