
.slider {
  &-nav{
	margin: 10px;
  }
  &-add {
    margin-bottom: 20px;
  }
  img {
//    width: 100%;
//    height: 100%;
  }
  .panel-body {
    .glyphicon {
      padding-left: 4px;
    }
  }
}


.rating{
    position: absolute;
    margin: 0;
    padding: 0;
    display: inline-block;
    li {
      padding: 1px;
      color: #a9a9a9;
      text-align: center;
      font-weight: bold;
      font-size: 20px;
      list-style-type: none;
      display: inline-block;
      cursor: pointer;
      &.filled {
        color: #fd0; //#21568b
      }
    }
  }



