footer {
  margin-top: 300px;
  background: lightgrey;
  p {
    padding-top: 10px;
  }
}
.login{
  .form-group {
    overflow: hidden;
    margin-bottom: 15px;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    label {
      padding-top: 6px;
      font-weight: normal;
      text-align: right;
    }
    .form-control {
      width: 190px;
    }
  }
  &-nav{
    text-align: center;
    margin-top: 16px;
    margin-bottom: 20px;
    a {
      padding: 10px;
      text-transform: uppercase;
      font-size: 12px;
    }
    i {
      padding-right: 4px;
      font-size: 18px;
    }
  }
  &-title {
    font-style: italic;
    font-weight: bold;
    margin-bottom: 17px;
    font-size: 16px;
  }
  &-btnBl{
    margin-top: 15px;
    height: 40px;
  }
  .btn {
    padding: 2px 28px;
  }
  .copyrights{
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  header {
    margin-bottom: 40px;
  }
  .login{
    &-nav{
      padding: 0;
    }
  }
}
.slide.ng-hide-add,
.slide.ng-hide-remove {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block!important;
}
.slide.ng-hide-add.ng-hide-add-active,
.slide.ng-hide-remove {
  opacity: 0;
}
.slide.ng-hide-add,
.slide.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

* {
  font-family: 'Open Sans', sans-serif;
}
.center-grey {
  background: #f2f2f2;
}

.page {
  &-nav{
	margin: 10px;
  }
  &-add {
    margin-bottom: 20px;
  }
  .panel-body {
    .glyphicon {
      padding-left: 4px;
      font-size: 11px;
    }
  }
  table{
    td{
      display: inline-block;
      overflow: hidden;
    }
  }
  .arrows {
    margin-top: 10px;
  }
  .modal-content{
    overflow: hidden;
    padding-bottom: 20px;
  }
}


.rating{
    position: absolute;
    margin: 0;
    padding: 0;
    display: inline-block;
    li {
      padding: 1px;
      color: #a9a9a9;
      text-align: center;
      font-weight: bold;
      font-size: 20px;
      list-style-type: none;
      display: inline-block;
      cursor: pointer;
      &.filled {
        color: #fd0; //#21568b
      }
    }
  }



